{%- comment -%}
Pseudocode for section
Goal: To create a navigation section that allows for the use of megamenus, dropdowns and regular links. Doing this will give the merchant or developer more freedom in how they will create their top level

Extra notes: I decided to do away with the white navbar from the design and consolidate everything into a standard navbar
{%- endcomment -%}

<div class="row">
    <ul>
        {% for link in linklists.main-menu.links %}
          <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% schema %}

{% endschema %}