<div class="row">
    <ul>
        {% for link in linklists.main-menu.links %}
          <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% schema %}
{
  "name": "Top Navigation",
  "class": "container",
  "settings": [
    {
        "type": "link_list",
        "id": "menu-lt",
        "label": "Left Menu"
    },
    {
        "type": "link_list",
        "id": "menu-rt",
        "label": "Right Menu"
    }
  ]
}
{% endschema %}